<form action="" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Name">
  <br/>
  <label for="username">Username</label>
  <input id="username" type="text" name="username" value="{{user.username}}">
  <br/>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Password">
  <br/>
  <button>Log In</button>
</form>

<a href="/">Home</a>
<a href="/main">Main</a>