<h2>Private Page</h2>
<h3>Only availabele for {{user.username}} </h3>
<img src="/images/giphy.gif" alt="Bart simpson making fun of Homer simpson">
<br/>
<a href="/profile">Profile Page</a>
<a href="/">Home</a>