<form action="" method="post">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Username, min of 3 characters">
  <br/>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Password, min of 5 characters">
  <button>Sign Up</button>
</form>
{{#if error}}
<p>{{error}}</p>
{{/if}}

<a href="/">Home</a>
<a href="/main">Main</a>